
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Welcome</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/mdb.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
        <br><br>
        <div  class="container-fluid"> 
            <div class="row">

                <div class="col-12 col-md-4 col-lg-3">  
            		<div class="card w-100" style="width: 200px;">
                        <img class="edit-pic card-img-top" src="./img/mario.jpg" alt="">
                        <input id="profile-pic" style="display:none" type="file" accept="image/png, image/jpeg, image/jpg">
                        <div class="card-body">
                            <h5 class="card-title"><div class="nick">Anon</div></h5>
                            <p class="card-text"><div class="desc">Short for a non mouse.</div></p>
                            <button class="edit btn btn-primary">Edit profil</button>
                        </div>
                    </div>
                </div>

                

                <div class="col-12 col-md-8 col-lg-9" > 
                    <div id="chat"  >
                        <p v-for="value in values"><span class="sender" data-toggle="tooltip" data-html="true" :title="value.sender">{{ value.sender }} :</span><span v-linkified> {{ value.message }}</span></p>
                    </div>
                    <div class="form-group">
                        <label for="input">enter your message</label>
                        <textarea class="form-control rounded" id="input" rows="1"></textarea>
                    </div>
                    <button class="send btn btn-primary"">Send</button>
                </div>

            </div>
            <div class="row">
                <img class="target" src="./img/target.png" alt="">
                <div id="score">{{ value }}</div>
            </div>
        </div>


        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/popper.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/mdb.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
        <script src="/siofu/client.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/linkifyjs@2.1.6/dist/linkify.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/linkifyjs@2.1.6/dist/linkify-element.min.js"></script>
        <script src="/script/main.js"></script>
        

	</body>
</html>